$gray-01: #4D515A;
$gray-02: #40444D;
$gray-03: #96A4B9;
$gray-04: #77808D;
$gray-05: #616161;
$gray-06: #fbfbff;
$gray-07: #fdfdff;

$indigo: #5D5FEF;
$indigo-soft: #E0E7FF;
$blue: #178DCC;
$blue-soft: #E0F2FE;
$green: #059691;
$green-soft: #D1FAE5;
$orange: #E07706;
$orange-soft: #FEF3C7;
$red: #E11D48;
$red-soft: #FFE4E6;
$purple: #4263EB;
$purple-soft: #DBEAFE;
$grey: #64748B;
$grey-soft: #F1F5F9;
$white: #fff;
$dark-soft: #334155;

$background: #fff;
$background-soft: #F5F5FA;

$border: rgba(0, 0, 0, 0.08) !default;